@import url('https://fonts.googleapis.com/css2?family=Jura&family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Poiret+One&family=Xanh+Mono:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom class */
@layer components {
    .align-element {
        @apply mx-auto max-w-7xl px-8;
    }
}
.font-one {
    font-family: "Xanh Mono", monospace;
}
/* .font-one {
    font-family: "Poiret One", sans-serif;
} */
.font-sans {
    font-family: "Alumni Sans Pinstripe", sans-serif;
}
.font-candy {
    font-family: "Emilys Candy", serif;
}

